<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
   <div class="sheet-container">
      <!-- slider row -->
      <div class="slider-button-row fill-width slider-object" style="height: 20px;">
         {{ localize (lookup @root.config.mySheetLabels "ebas") }}
         <label class="switch">
         {{#if isEdit}}
         <input class="item-edit-slider" type="checkbox" checked>
         {{else}}
         <input class="item-edit-slider" type="checkbox">
         {{/if}}
         <span class="slider round"></span>
         </label>
      </div>
      <unit-sheet class="actor-sheet">
          <sheet-header class="unit-sheet-header fill-width">
            <div class="sheet-header-row-1">
               <div class="sheet-header-row-1-column-1">
                  <div class="profile-image-block">
                     <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>  
                  </div>
               </div>
               <div class="sheet-header-row-1-column-2">
                  <div class="sheet-header-row-1-column-2-row-1">
                     {{#if isEdit}}
                     <h2 class="charname">
                        <input name="name" type="text" value="{{actor.name}}" placeholder="Model Name"/>
                     </h2>
                     {{else}}
                     <h2 class="charname">
                        <input type="text" name="system.unitName" value="{{system.unitName}}" placeHolder="Unit Name" data-dtype="String"/>
                     </h2>
                     {{/if}}  
                  </div>
                  <div class="sheet-header-row-1-column-2-row-2">
                     <h4 class="faction-header">{{ localize (lookup @root.config.mySheetLabels "fact") }}</h4>
                     <select class="fill-width faction-selector" name="system.faction">
                     {{ selectOptions factions selected=system.faction localize=true }}
                     </select>  
                  </div>
                  <div id="spacer-row" class="sheet-header-row-1-column-2-row-3">
                  </div>
                  <div class="sheet-header-row-1-column-2-row-4">
                     <h4 class="keyword-header">{{ localize (lookup @root.config.mySheetLabels "keyw") }}</h4>
                  </div>
                  <div class="sheet-header-row-1-column-2-row-5 tags">
                     {{#if isEdit}}
                     {{formInput actor.system.schema.fields.keywords value=system.keywords options=keywords localize=true}}     
                     {{else}}
                     <div class="keyword-row input-element-tags">
                        {{#each computedKeywords as |keyword|}}
                        <div class="tag keyword-item">
                           <span>{{ localize (lookup @root.config.keywordsChoices keyword) }}</span>
                        </div>
                        {{/each}}                  
                     </div>
                     {{/if}}
                  </div>
               </div>
            </div>
         </sheet-header>
         <sheet-body class="unit-sheet-body">
            <div class="unit-sheet-body-row-1">
                <table>
                  <thead>
                    <tr>
                      <th class="attribute-header">
                        {{ localize (lookup @root.config.mySheetLabels "requ") }}
                      </th>
                      <th class="attribute-header">
                        {{ localize (lookup @root.config.mySheetLabels "limi") }}
                      </th>
                      <th class="attribute-header">
                        {{ localize (lookup @root.config.mySheetLabels "duca") }}
                      </th>
                      <th class="attribute-header">
                        {{ localize (lookup @root.config.mySheetLabels "glor") }}
                      </th>
                    </tr>
                  </thead>
                  <tbody style="align-items:center;">
                    <tr class="attribute-values">
                      <td>
                        {{ formInput actor.system.schema.fields.requiredUnit value=system.requiredUnit }}
                      </td>                    
                      <td>
                        {{ formInput actor.system.schema.fields.limit value=system.limit }}
                      </td>
                      <td>
                        {{#if isEdit}}
                          <input type="text" name="system.cost.ducats" value="{{system.cost.ducats}}" data-dtype="Number"/>
                        {{else}}
                          <input type="text" name="system.cost.computedCostDucats" value="{{system.computedCostDucats}}" data-dtype="Number" readonly/>
                        {{/if}}
                      </td>
                      <td>
                        <input type="text" name="system.cost.glory" value="{{system.cost.glory}}" data-dtype="Number"/>
                      </td>
                    </tr>
                  </tbody>
                </table>  
              </div>

            <div>
               <table>
                  <thead>
                  <tr>
                     <th>{{localize (lookup @root.config.abilities 'mov')}}</th>
                     <th>{{localize (lookup @root.config.abilities 'ran')}}</th>
                     <th>{{localize (lookup @root.config.abilities 'mel')}}</th>
                     <th>{{localize (lookup @root.config.abilities 'arm')}}</th>
                     <th>{{localize (lookup @root.config.abilities 'bas')}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="attribute-values">
                     <td><input type="text" name="system.abilities.mov.value" value="{{system.abilities.mov.value}}" data-dtype="Number"/></td>
                     {{#if isEdit}}
                        <td><input type="text" name="system.abilities.ran.value" value="{{numberFormat system.abilities.ran.value sign=true}}" data-dtype="Number"/></td>
                        <td><input type="text" name="system.abilities.mel.value" value="{{numberFormat system.abilities.mel.value sign=true}}" data-dtype="Number"/></td>
                        <td><input type="text" name="system.abilities.arm.value" value="{{system.abilities.arm.value}}" data-dtype="Number"/></td>
                        <td><input type="text" name="system.abilities.bas.value" value="{{system.abilities.bas.value}}" data-dtype="Number"/></td>
                     {{else}}
                        <td><input type="text" name="system.abilities.ran.value" value="{{numberFormat system.abilities.ran.value sign=true}}" data-dtype="Number"/></td>
                        <td><input type="text" name="system.abilities.mel.value" value="{{numberFormat system.abilities.mel.value sign=true}}" data-dtype="Number"/></td>
                        <td><input type="text" name="system.computedArmor" value="{{system.computedArmor}}" data-dtype="Number"/></td>
                        <td><input type="text" name="system.abilities.bas.value" value="{{system.abilities.bas.value}}" data-dtype="Number"/></td>                     
                     {{/if}}
                  </tr>          
                  </tbody>
               </table>
            </div>

{{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Description</a>
    <a class="item" data-tab="features">Abilities</a>
    <a class="item" data-tab="items">Items</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab description' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor enrichedDescription target='system.description' engine='prosemirror' button=true editable=true }}
    </div>

    <div class="tab features" data-group="primary" data-tab="features">
      {{> "systems/trench-crusade/templates/actor/parts/actor-features.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/trench-crusade/templates/actor/parts/actor-items.hbs"}}
    </div>

  </section>

         </sheet-body>         
      </unit-sheet>
   </div> <!--sheet-container-->
</form>