<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-body">
    <div class="sheet-contents">
      <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
      </header>
      <div class="sheet-contents-main-body">
        <div class="flex-row header-coloring">
          <div class="column-header align-left">
            {{ localize (lookup @root.config.mySheetLabels "keyw") }}
          </div>
        </div>
        <div class="column-data">
          {{formInput item.system.schema.fields.keywords value=system.keywords options=keywords localize=true}}       
        </div>        

        <div class="flex-row header-coloring">
          <div class="column-header">
            {{ localize (lookup @root.config.mySheetLabels "weat") }}
          </div>
          <div class="column-header">
            {{ localize (lookup @root.config.mySheetLabels "scom") }}
          </div>          
        </div>

        <div class="flex-row align-left">
          <div class="column-data align-center">
            <select name="system.weaponType">
              {{ selectOptions weaponTypes selected=system.weaponType localize=true }}
            </select>  
          </div>
          <div class="column-data align-center" style="width: 100%;">
            {{ formInput item.system.schema.fields.shieldCombo value=system.shieldCombo }}            
          </div>          
        </div>
             
        <div class="flex-row header-coloring">
          <div class="column-header">
            {{ localize (lookup @root.config.mySheetLabels "duca") }}
          </div>
          <div class="column-header">
            {{ localize (lookup @root.config.mySheetLabels "glor") }}
          </div>
        </div>
        <div class="flex-row align-center">
          <div class="column-data">
            <input type='text' name='system.cost.ducats' value='{{ system.cost.ducats }}' data-dtype='Number' />
          </div>
          <div class="column-data">
            <input type='text' name='system.cost.glory' value='{{ system.cost.glory }}' data-dtype='Number' />
          </div>
        </div>

        <div class="flex-row header-coloring">
          <div class="column-header align-left">
            {{ localize (lookup @root.config.mySheetLabels "sdes") }}
          </div>
        </div>
        <div class="column-data">
          <input name="system.short_description" type="text" value="{{ system.short_description }}" placeholder=""/>    
        </div>

        <div class="flex-row header-coloring">
          <div class="column-header">
            {{ localize (lookup @root.config.mySheetLabels "rng") }}
          </div>
          <div class="column-header">
            {{ localize (lookup @root.config.mySheetLabels "toH") }}
          </div>          
          <div class="column-header">
            {{ localize (lookup @root.config.mySheetLabels "toI") }}
          </div>
        </div>

        <div class="flex-row align-left">
          <div class="column-data align-center">
            <input type='text' name='system.range' value='{{numberFormat system.range}}' data-dtype='Number' />
          </div>
          <div class="column-data align-center">
            <input type='text' name='system.toHitModifier' value='{{system.toHitModifier}}' data-dtype='String' />
          </div>          
          <div class="column-data align-center">
            <input type='text' name='system.toInjureModifier' value='{{system.toInjureModifier}}' data-dtype='String' />
          </div>
        </div>


        <div class="flex-row header-coloring">
          <div class="column-header align-left">
            {{ localize (lookup @root.config.mySheetLabels "desc") }}
          </div>
        </div>
        
        <div class="column-data-fill">
          {{ editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable }}
        </div>      

        <div class="flex-row header-coloring">
          <div class="column-header align-left">
            {{ localize (lookup @root.config.mySheetLabels "rule") }}
          </div>
        </div>

        <div class="column-data-fill">
           {{editor system.rules target="system.rules" engine="prosemirror" button=true editable=editable}}
        </div>            

      </div>
    </div>
</form>
