<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

    <div>
    Keywords
    {{formInput item.system.schema.fields.keywords value=system.keywords options=keywords localize=true}}     
  </div>

<table class="flex-group-center">
  <thead>
    <tr>
      <th>{{ localize (lookup @root.config.mySheetLabels "duca") }}</th>
      <th>{{ localize (lookup @root.config.mySheetLabels "glor") }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type='text' name='system.cost.ducats' value='{{ system.cost.ducats }}' data-dtype='Number' /></td>
      <td><input type='text' name='system.cost.glory' value='{{ system.cost.glory }}' data-dtype='Number' /></td>
    </tr>
  </tbody>
</table>

<table class="sheet-table">
  <thead>
    <tr>
      <th>{{ localize (lookup @root.config.mySheetLabels "desc") }}</th>
    </tr>
  </thead>
  <tbody class="tbody">
    <tr class="tr">
      <td class="td">{{ editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable }}</td>
    </tr>
  </tbody>
</table>

<table class="sheet-table">
  <thead>
    <tr>
      <th>{{ localize (lookup @root.config.mySheetLabels "rule") }}</th>
    </tr>
  </thead>
  <tbody class="tbody">
    <tr class="tr">
      <td class="td">      {{editor system.rules target="system.rules" engine="prosemirror" button=true editable=editable}}</td>
    </tr>
  </tbody>
</table>

</form>
